@import "functions";
@import "vars";

.autocomplete-menu {
    position: absolute;
    z-index: $dropdown-z-index;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: $autocomplete-menu-font-size;
    color: $autocomplete-menu-color;
    text-align: left;
    list-style: none;
    background-color: $autocomplete-menu-background-color;
    border: $autocomplete-menu-border-size $border-style $autocomplete-menu-border-color;
}

.autocomplete-items {
    max-height: $autocomplete-items-max-height;
    margin: 0;
    overflow-y: auto;
    list-style-type: none;
}

.autocomplete-item {
    display: block;
    width: 100%;
    padding: $autocomplete-item-padding-y $autocomplete-item-padding-x;
    clear: both;
    font-weight: $autocomplete-item-font-weight;
    color: $autocomplete-item-color;
    text-align: inherit;
    white-space: nowrap;
    cursor: default;
    background-color: transparent;
    border: 0;
}

.autocomplete-focus {
    &,
    &.autocomplete-active {
        color: $autocomplete-item-focus-color;
        background-color: $autocomplete-item-focus-background-color;
    }
}

.autocomplete-active {
    color: $autocomplete-item-active-color;
    text-decoration: none;
    background-color: $autocomplete-item-active-background-color;
}
