@import "vars";

.autocomplete-menu {
    --ui-autocomplete-z-index: #{$autocomplete-z-index};
    --ui-autocomplete-color: #{$autocomplete-color};
    --ui-autocomplete-bg: #{$autocomplete-bg};
    --ui-autocomplete-border-width: #{$autocomplete-border-width};
    --ui-autocomplete-border-color: #{$autocomplete-border-color};
    --ui-autocomplete-item-padding-x: #{$autocomplete-item-padding-x};
    --ui-autocomplete-item-padding-y: #{$autocomplete-item-padding-y};
    --ui-autocomplete-item-color: #{$autocomplete-item-color};
    --ui-autocomplete-item-focus-color: #{$autocomplete-item-focus-color};
    --ui-autocomplete-item-focus-bg: #{$autocomplete-item-focus-bg};
    --ui-autocomplete-item-active-color: #{$autocomplete-item-active-color};
    --ui-autocomplete-item-active-bg: #{$autocomplete-item-active-bg};

    position: absolute;
    z-index: var(--ui-autocomplete-z-index);
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    font-size: $autocomplete-font-size;
    color: var(--ui-autocomplete-color);
    text-align: left;
    background-color: var(--ui-autocomplete-bg);
    border: var(--ui-autocomplete-border-width) var(--ui-border-style) var(--ui-autocomplete-border-color);
}

.autocomplete-item {
    display: block;
    width: 100%;
    padding: var(--ui-autocomplete-item-padding-y) var(--ui-autocomplete-item-padding-x);
    clear: both;
    font-weight: $autocomplete-item-font-weight;
    color: var(--ui-autocomplete-item-color);
    text-align: inherit;
    white-space: nowrap;
    cursor: default;
    background-color: transparent;
    border: 0;

    &.active {
        color: var(--ui-autocomplete-item-active-color);
        background-color: var(--ui-autocomplete-item-active-bg);
    }

    &.focus {
        color: var(--ui-autocomplete-item-focus-color);
        background-color: var(--ui-autocomplete-item-focus-bg);
    }
}
